APP_NAME=TrueDial
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://truedial.in

FRONTEND_URL=https://truedial.in
MOBILE_APP_URL=truedial://

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=truedial_db
DB_USERNAME=truedial_user
DB_PASSWORD=

# Shared Auth DB
DB_AUTH_HOST=127.0.0.1
DB_AUTH_PORT=3306
DB_AUTH_DATABASE=findmyinterior
DB_AUTH_USERNAME=truedial_user
DB_AUTH_PASSWORD=

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

SANCTUM_STATEFUL_DOMAINS=truedial.in,localhost:3000
SESSION_DOMAIN=truedial.in

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@truedial.in
MAIL_FROM_NAME=TrueDial

FILESYSTEM_DISK=public
AWS_BUCKET=
